.RouteView {
}
.RouteView__name {
  font-weight: bold;
  font-size: 1.8rem;
}
.RouteView__direction,
.RouteView__status {
  margin-right: 16px;
  border: 2px solid #4056a1;
  border-radius: 4px;
  padding: 8px;
  background-color: #cfcbe3;
}
.RouteView__heading {
  font-weight: bold;
  margin-top: 32px;
}

@media screen and (min-width: 800px) {
  .RouteView {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
  }
}
