.Button {
  background-color: #000;
  border: none;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: white;
  padding: 0.8rem 1.2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.Button_primary {
  background-color: #4056a1;
}
.Button_primary:hover {
  background-color: #cfcbe3;
  color: #4056a1;
}

.Button_secondary {
  background-color: #d79922;
}
.Button_secondary:hover {
  background-color: #efe2ba;
  color: #d79922;
}

.Button_danger {
  background-color: #b9230c;
}
.Button_danger:hover {
  background-color: #f67b68;
  color: #b9230c;
}
