.RouteForm {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.RouteForm__input,
.RouteForm__radio {
  margin: 16px 0;
}
.RouteForm__errorMessage {
  color: #b9230c;
  font-size: 0.8rem;
  display: block;
}
.RouteForm__input input {
  width: calc(100% - 16px);
  height: 30px;
  border-radius: 2px;
  border: 1px solid #4056a1;
  padding: 0 8px;
}

.RouteForm__radio input {
  width: 15px;
  height: 15px;
}
.RouteForm__radio label {
  width: 100%;
  display: block;
}

.RouteForm .Button {
  margin-right: 8px;
}
